body {
  background: #f9f7fe;
}
.App {
  margin: 30px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #301934;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: rgb(79, 18, 103);
  text-decoration: none;
  font-weight: bold;
}

.unit {
  color: white;
}

.App footer {
  color: #301934;
  font-size: 12px;
  margin: 10px 0;
}